@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');

/* home page */
.navbar {
    background: linear-gradient(to right, #ee4a4b, #ed4a69);
}
.navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link { 
    color: #fff;
}
.navbar-light .navbar-brand:hover, .navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
}
.navbar-collapse {
    flex-basis: unset;
}
.jumbotron {
    background-image: url('');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 56px);
}
main .row {
    max-width: 1000px;
    margin: auto;
    align-items: center;
}
.welcome-card {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.welcome-card button {
    background: linear-gradient(to right, #ee4a4b, #ed4a69);
    border-radius: 30px;
}
.welcome-card button a {
    color: #fff;
    text-decoration: none;
}
.welcome-img {
    max-width: 470px;
    width: 100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}



/* login / register */
*{
    padding: 0;
    margin: 0;
    outline: none;
}
body{
    font-family: 'Roboto', sans-serif;
    height:100vh;
    color: #3a3e42;
    background-color: #f4e1e3;
}
.h-100 {
    background-color: #f4e1e3;
}
.AppForm .AppFormLeft h2{
    font-size: 35px;
}

form {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.AppForm .AppFormLeft input:focus{
    border-color: #ced4da;
}
.AppForm .AppFormLeft input::placeholder{
   font-size: 15px;
}
.AppForm .AppFormLeft i{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.AppForm .AppFormLeft a{
    color: #3a3e42 ;
}
.AppForm .AppFormLeft button{
    background: linear-gradient(to right, #ee4a4b, #ed4a69);
    border-radius: 30px;
}
.AppForm .AppFormLeft p span{
  color: #007bff;
}
.AppForm .AppFormRight{
    background: linear-gradient(to right, #ee4a4b, #ed4a69);
    height: 450px;
    border-radius: 0 15px 15px 0;
}

.AppForm .AppFormRight h2{
    z-index: 1;
}

.AppForm .AppFormRight p{
    z-index: 1;
}
button {
    transition: .3s;
}
button:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    cursor: pointer;
}









