.nav-item .nav-link {
    display: flex !important;
    align-items: center;
}
.navbar .navbar-nav .dropdown-toggle:after {
    display: none;
}
.navbar .navbar-nav .nav-item .nav-link:hover {
    color: #003399;
}
.sidebar-wrapper {
    background: linear-gradient(to right, #ee4a4b, #ed4a69);
}
#home .card {
    min-height: 200px;
}
#home button {
    background: linear-gradient(to right, #ee4a4b, #ed4a69);
    border-radius: 30px;
    transition: .3s;
    color: #fff;
}
#home button:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    cursor: pointer;
}
blockquote {
    padding: 10px 60px 10px 70px;
    position: relative;
}
q {
    color: #333;
    display: block;
    font-size: 18px;
    line-height: 1.25em;
    margin-bottom: 12px;
    quotes: "“" "”";
} 
q::before {
    color: #003399;
    content: open-quote;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 120px;
    font-weight: bold;
    line-height: 120px;
    left: 0;
    top: 0;
    position: absolute;
    width: 90px;
}
q::after {
    content: close-quote;
}
cite {
    color: #999;
}
#reminders .headline-container {
    display: flex;
    align-items: center;
}
#reminders .headline-container a {
    background: linear-gradient(to right, #ee4a4b, #ed4a69);
    border-radius: 30px;
    margin-top: 5px;
    margin-left: 20px;
    color: #fff;
    text-transform: uppercase;
    transition: .3s;
}
#reminders .headline-container a:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    cursor: pointer;
}
#reminders a button.btn {
    color: #07328f;
    background-color: #fff;
    border-radius: 30px;
    border: solid 2px #07328f !important;
    transition: .3s;
}
#reminders a button.btn:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    cursor: pointer;
}
#new-reminder input, #new-reminder textarea {
    border-radius: 30px;
}

#new-reminder [type=submit] {
    background: linear-gradient(to right, #ee4a4b, #ed4a69);
    border-radius: 30px;
    transition: .3s;
    color: #fff;
}

#new-reminder .option-toggle:hover {
    background-color: #003399;
    color: #fff;
    border-color: #003399;
}
#new-reminder .option-toggle.active {
    background-color: #003399;
    color: #fff;
    border-color: #003399;
}
#calendar .cal-row {
    width:100%;
    display: flex;
}
#calendar .cal-column {
    width: 14.2%;
    height: 75px;
    text-align: right;
    font-size: 14px;
}
#calendar .cal-column.header {
    height: auto;
    text-align: center;
    background-color: #ededed;
    padding: 10px 0;
    font-size: 16px;
    border-bottom: solid 1px black;
}
#calendar .has-date {
    padding-right: 10px;
    padding-top: 5px;
}
#calendar select {
    margin: 0;
    color: #333333;
    font-weight: 300;
    font-size: 22px;
    line-height: 30px;
    border: none;
    padding: 10px 0;
}


  
  