.nav-item .nav-link {
    display: flex !important;
    align-items: center;
}
.navbar .navbar-nav .dropdown-toggle:after {
    display: none;
}
.sidebar-wrapper {
    background: linear-gradient(to right, #ee4a4b, #ed4a69);
}